/*
 * Pipelines parameters
 */

params {
	/*
	 * Key files
	 */
		//path to transcript models gtf output from IsoQuant
		models = "${projectDir}/files/OUT.transcript_models.chr1.gtf"

                //path to model transcript tpms output from IsoQuant
                model_tpms = "${projectDir}/files/OUT.transcript_model_tpm.tsv"

                //path to gencode reference gtf
                refgtf = "${projectDir}/files/gencode.v49.annotation.chr1.gtf.gz"

	/*
	 * Non-file paths
	 */
                //path to conda environment with necessary packages and dependencies installed. See novelTranscripts.yaml and github README.
                novelTranscripts_conda = "/Users/jacob/miniconda3/envs/novelTranscripts"
	
}

